.btn {
  background: #f74b42;
  color: white;
  list-style-type: none;
  font-size: 45px;
  padding: 10px 25px 20px 25px;
  margin-top: 0% auto;
  border: #f74b42;
  border-radius: 0%;
}

.btn:hover,
.btn:focus {
  color: white;
  background: #f74b42;
  border: #f74b42;
  box-shadow: none;
  opacity: 0.8;
}

.header {
  display: flex;
  border: #f74b42;
  height: 0%;
  width: 100%;
  justify-content: center;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-y: hidden;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  font-weight: bold;
  color: #b8b8b8;
  transition: 0.3s;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.overlay-contents {
  display: flex;
}
